---
title: March 21, 2017
---

%section

  %h2 Round 1

  %ol
    %li.question
      What five-letter command was registered by IBM as a trademark in 1936?
      .answer
        Think

    %li.question
      According to the U.S. Post Office, among the five most common street names in the United States are two named for what types of trees?
      .answer
        %ul
          %li Maple
          %li Oak
        %small Top 5, in order: Main, Second, Maple, Oak, Park

    %li.question
      What is the English translation of the compound word <i>Fahrvergnügen</i> used by Volkswagen in an early ’90s ad campaign?
      .answer
        “Driving enjoyment”

    %li.question
      What are the names of the four natural gaits exhibited by horses?
      .answer
        %ul
          %li Walk
          %li Trot
          %li Canter
          %li Gallop

    %li.question
      The magazine <i>The Economist</i> maintains a statistic measuring international currency strengths based on the price of what widely available food item?
      .answer
        McDonald’s Big Mac

    %li.question
      What four-word motto is carved into the front of the U.S. Supreme Court building in Washington, DC?
      .answer
        Equal Justice Under Law

%section

  %h2 Round 2

  %ol
    %li.question
      What computer programming language, created in 1958, shares its name with a certain type of speech impediment?
      .answer
        Lisp

    %li.question
      What are the informal names of Major League Baseball’s spring training leagues in Florida and Arizona?
      .answer
        %ul
          %li Grapefruit League
          %li Cactus League

    %li.question
      If you’ve bought furniture from IKEA, it might be made entirely or in part out of MDF, which stands for what?
      .answer
        Medium-density fiberboard

    %li.question
      Rather than constructing a precise definition, Supreme Court justice Potter Stewart in 1964 simply said “I know it when I see it”, referring to what?
      .answer
        Obscenity/pornography

    %li.question
      The world’s cheapest production car, originally priced in 2009 at the equivalent of about USD 2,000, is manufactured by what Indian company?
      .answer
        Tata

    %li.question
      What two-word term, applied to some types of whiskey, refers to the re-use of a portion of the grain from a previous batch when starting a new fermentation?
      .answer
        Sour mash

%section

  %h2 Round 3

  %p
    Name the cities depicted in the following map excerpts. North is up on each
    map, but map scales vary. Roads shown crossing water may be bridges or
    tunnels.

  %h3 United States cities
  %ol.city-maps
    %li.question
      = image_tag 'http://imgur.com/zmvCStQm.png', alt: ''
      .answer Dallas, TX
    %li.question
      = image_tag 'http://imgur.com/9k0CSONm.png', alt: ''
      .answer Baltimore, MD
    %li.question
      = image_tag 'http://imgur.com/s2pJeVmm.png', alt: ''
      .answer New Orleans, LA
    %li.question
      = image_tag 'http://imgur.com/FL7lpu8m.png', alt: ''
      .answer Seattle, WA
    %li.question
      = image_tag 'http://imgur.com/5PNpRypm.png', alt: ''
      .answer Detroit, MI
    %li.question
      = image_tag 'http://imgur.com/dM8OtoWm.png', alt: ''
      .answer Pittsburgh, PA
    %li.question
      = image_tag 'http://imgur.com/KD2VfKwm.png', alt: ''
      .answer Boston, MA
    %li.question
      = image_tag 'http://imgur.com/DCRoMFnm.png', alt: ''
      .answer Charleston, SC

  %h3 Cities outside the United States
  %ol.city-maps{ start: 9 }
    %li.question
      = image_tag 'http://imgur.com/bHsn7dHm.png', alt: ''
      .answer London
    %li.question
      = image_tag 'http://imgur.com/qmw2SPpm.png', alt: ''
      .answer Hong Kong
    %li.question
      = image_tag 'http://imgur.com/n4OoBJlm.png', alt: ''
      .answer Montréal
    %li.question
      = image_tag 'http://imgur.com/i4Q8cFDm.png', alt: ''
      .answer Istanbul
    %li.question
      = image_tag 'http://imgur.com/EifqWWBm.png', alt: ''
      .answer Venice
    %li.question
      = image_tag 'http://imgur.com/syKpQhCm.png', alt: ''
      .answer Paris
    %li.question
      = image_tag 'http://imgur.com/4I1XjFYm.png', alt: ''
      .answer Dubai
    %li.question
      = image_tag 'http://imgur.com/pg0K1mAm.png', alt: ''
      .answer Toronto

%section

  %h2 Round 4

  %ol
    %li.question
      What is the only name shared by four consecutive English monarchs?
      .answer
        George

    %li.question
      What fictional brand of cigarettes appears in several Quentin Tarantino movies?
      .answer
        Red Apple

    %li.question
      What common household product is chemically known as sodium hypochlorite?
      .answer
        Bleach

    %li.question
      A five-foot wooden sculpture in the House of Representatives chamber of the Massachusetts State House depicts what?
      .answer
        A codfish

    %li.question
      On March 17, 2017, Hasbro announced that in addition to the thimble, what two player pieces would be retired from upcoming editions of the board game “Monopoly”?
      .answer
        %ul
          %li Wheelbarrow
          %li Shoe

    %li.question
      What was the name of the hacker (or hacker group) who leaked e-mails from the Democratic National Committee to Wikileaks in mid-2016?
      .answer
        Guccifer 2.0

%section

  %h2 Round 5

  %ol
    %li.question
      A Chopin étude in G-flat major has what name shared with a two-person rock band formed in 2001?
      .answer
        Black Keys

    %li.question
      What basketball player was the first professional athlete to have a guest appearance on “The Simpsons“?
      .answer
        Earvin “Magic” Johnson

    %li.question
      Mister Rogers got his start in television at a PBS affiliate station in what U.S. city?
      .answer
        Pittsburgh

    %li.question
      Ancient Roman military units carried banners with what four-letter abbreviation referring to the Roman Republic?
      .answer
        SPQR

    %li.question
      What Japanese word meaning “I’ll leave it up to you” is used at sushi restaurants to request a chef’s tasting menu?
      .answer
        Omakase

    %li.question
      What model of electric guitar, manufactured by Gibson since 1958, shares its name with an aircraft formation?
      .answer
        Flying V

%section

  %h2
    Final question
    %small (Category: <em>Food/drink</em>)

  .question
    What fish was so abundant in the Hudson River in the 19th century that it became known colloquially as “Albany beef”?
    .answer
      Sturgeon
