---
title: Bacchus trivia
layout: layout
---

= partial 'header'

%main.container
  %ul.trivia-list
    %li
      = link_to '/trivia/2018-06-12.html' do
        June 12, 2018
    %li
      = link_to '/trivia/2017-10-10.html' do
        October 10, 2017
    %li
      = link_to '/trivia/2017-07-18.html' do
        July 18, 2017
    %li
      = link_to '/trivia/2017-03-21.html' do
        March 21, 2017
    %li
      = link_to '/trivia/2016-12-13.html' do
        December 13, 2016
    %li
      = link_to '/trivia/2016-09-20.html' do
        September 20, 2016
    %li
      = link_to '/trivia/2016-06-21.html' do
        June 21, 2016
    %li
      = link_to '/trivia/2016-03-29.html' do
        March 29, 2016
    %li
      = link_to '/trivia/2015-12-08.html' do
        December 8, 2015
    %li
      = link_to '/trivia/2015-09-15.html' do
        September 15, 2015
    %li
      = link_to '/trivia/2015-06-23.html' do
        June 23, 2015
    %li
      = link_to '/trivia/2015-03-17.html' do
        March 17, 2015
    %li
      = link_to '/trivia/2014-11-04.html' do
        November 4, 2014
    %li
      = link_to '/trivia/2014-07-29.html' do
        July 29, 2014
    %li
      = link_to '/trivia/2014-04-29.html' do
        April 29, 2014
    %li
      = link_to '/trivia/2014-01-28.html' do
        January 28, 2014
    %li
      = link_to '/trivia/2013-10-29.html' do
        October 29, 2013
    %li
      = link_to '/trivia/2013-07-30.html' do
        July 30, 2013
    %li
      = link_to '/trivia/2013-04-30.html' do
        April 30, 2013
    %li
      = link_to '/trivia/2013-01-08.html' do
        January 8, 2013
    %li
      = link_to '/trivia/2012-09-18.html' do
        September 18, 2012
    %li
      = link_to '/trivia/2011-10-04.html' do
        October 4, 2011
