!!! 5
%html.no-js{ lang: 'en' }
  %head
    %meta{ charset: 'utf-8' }
    %meta{ name: 'viewport', content: 'width=device-width,initial-scale=1,shrink-to-fit=no' }
    %title= current_page.data.title
    %script document.documentElement.className=''
    %style= abovefold_styles(page_classes)
    = partial 'deferred_stylesheet', locals: { stylesheet: 'deferred' }
    %link{ rel: 'shortcut icon', href: image_path('favicon.gif') }
  %body{ class: page_classes }
    = yield
    = yield_content :footer
