!!! 5
%html{ lang: 'en' }
  %head
    %meta{ charset: 'utf-8' }
    %meta{ name: 'viewport', content: 'width=device-width,initial-scale=1' }
    %title= current_page.data.title
    %style
      = inline_stylesheet 'abovefold'
    %noscript
      %link{ rel: 'stylesheet', href: asset_path(:css, 'deferred') }
    %link{ rel: 'shortcut icon', href: image_path('favicon.gif') }
  %body{ class: page_classes }
    %header
      = partial (current_page.data.header || 'header')
    %main
      = yield
    %script
      = inline_javascript 'inline'
      loadCSS("#{asset_path(:css, 'deferred')}")
    = javascript_include_tag 'deferred', async: true
