!!! 5
%html{ lang: 'en' }
  %head
    %meta{ charset: 'utf-8' }
    %meta{ 'http-equiv' => 'X-UA-Compatible', content: 'IE=edge,chrome=1' }
    %meta{ name: 'viewport', content: 'width=device-width,initial-scale=1' }
    %title= current_page.data.title
    -# %link{ rel: 'stylesheet', href: asset_path(:css, 'all') }
    = inline_stylesheet 'all'
  %body{ class: page_classes }
    %header
      = partial (current_page.data.header || 'header')
    %main
      = yield
    %footer
      = partial (current_page.data.footer || 'footer')
    -# %script{ src: asset_path(:js, 'all'), async: true }
