!!! 5
%html{ lang: 'en' }
  %head
    %meta{ charset: 'utf-8' }
    %meta{ name: 'viewport', content: 'width=device-width,initial-scale=1' }
    %title= current_page.data.title
    = inline_stylesheet 'abovefold'
  %body{ class: page_classes }
    %header
      = partial (current_page.data.header || 'header')
    %main
      = yield
    %footer
      = partial (current_page.data.footer || 'footer')
    = inline_javascript 'all'
    %script loadCSS("#{asset_path(:css, 'deferred')}")
