---
title: LearnedLeague visualizations
---

= partial 'header'

%main.container
  %ul
    %li
      %h2 Season 73
      %ul
        %li
          = link_to 'll73-pts-by-opponent-qpct.html' do
            Average match points by TCA vs. opponent QPct
        %li
          = link_to 'll73-pts-by-rundle-qpct.html' do
            Average match points by TCA vs. rundle average QPct
        %li
          = link_to 'll73-tca-vs-de.html' do
            Total correct answers vs. defensive efficiency by level
    %li
      %h2 Season 72
      %ul
        %li
          = link_to 'll72-pts-by-opponent-qpct.html' do
            Average match points by TCA vs. opponent QPct
        %li
          = link_to 'll72-pts-by-rundle-qpct.html' do
            Average match points by TCA vs. rundle average QPct
        %li
          = link_to 'll72-tca-vs-de.html' do
            Total correct answers vs. defensive efficiency by level
    %li
      %h2 Season 71
      %ul
        %li
          = link_to 'll71-pts-by-opponent-qpct.html' do
            Average match points by TCA vs. opponent QPct
        %li
          = link_to 'll71-pts-by-rundle-qpct.html' do
            Average match points by TCA vs. rundle average QPct
        %li
          = link_to 'll71-tca-vs-de.html' do
            Total correct answers vs. defensive efficiency by level
