---
title: Jack Letourneau
---

.container
  %ul
    %li
      = link_to 'https://github.com/jletourneau' do
        GitHub
    %li
      = link_to 'https://twitter.com/jlet' do
        Twitter
    %li
      = link_to 'https://facebook.com/jack.letourneau' do
        Facebook
    %li
      = link_to 'https://flickr.com/letouj' do
        Flickr
    %li
      = link_to 'https://www.linkedin.com/in/letouj' do
        LinkedIn
    %li
      = link_to 'https://plus.google.com/+JackLetourneau' do
        Google+
